@font-face {
    font-family: 'American TextC';
    src: local('American TextC'), url('americantextc.woff2') format('woff2'), url('americantextc.woff') format('woff'), url('americantextc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
