@font-face {
    font-family: 'Deutsch Gothic';
    src: local('Deutsch Gothic'), local('DeutschGothic'), url('deutschgothic.woff2') format('woff2'), url('deutschgothic.woff') format('woff'), url('deutschgothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
